---
layout: archive
title: "E-Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

This ePortfolio was carefully designed to demonstrate my studies over the MSc in Artificial Intelligence at the University of Essex. As you navigate through my ePortfolio, you will see my journey and studies of the material. The real value of this ePortfolio is in the learning experience and reflections over my personal development that are here documented. 
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

